.planet1_light{
    width: 24%;
    height: 13%;
    top: 10%;
    left: 43%;
    transform: rotate(10deg)
}
.planet2_light{
    width: 24%;
    height: 13%;
    top: 12%;
    left: 34%;
    transform: rotate(350deg);
}

.dust {
  position: absolute;
  bottom: 0px;
  border-radius: 50%;
  background: #00eeff;
  /* filter: blur(.5px); */
  box-shadow: 0 0 5px #00eeff;
  z-index: 900;
  animation: floatDust linear infinite;
}
.dust-custom {
  position: absolute;
  bottom: 0px;
  border-radius: 50%;
  /* filter: blur(.5px); */
  box-shadow: 0 0 5px #ffffff;
  z-index: 900;
  animation: floatDust linear infinite;
}

@keyframes floatDust {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateY(-110px) translateX(15px);
    opacity: 0;
  }
}