#header > h4{
    font-size: 30px;
}
.nav-hover-btn{
    position: relative;
    font-weight: 400;
    font-size: 13px;
    margin-inline-start: 40px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.05em;
}
.floating-nav{
    background-color: white;
}