#project{
    background-color: var(--p-bg-dark);
}
.plane-controller button, .plane-controller input{
    display: flex;
    padding:  2px 8px;
    color: cyan;
    background: rgba(0, 229, 255, 0.05);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 229, 255, 0.25);
    cursor: pointer;
    transition: all 0.3s ease;
}
.plane-controller button:hover{
    transform: translateY(-4px);
}
.project-head{
    font-size:clamp(2.4rem,calc(6vw + 1rem),2.8rem);
    line-height: 1;
}