.masked-section {
  position: absolute;
  inset: 0;

  mask-image: url("/images/project-mask.webp");
  -webkit-mask-image: url("/images/project-mask.webp");

  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;

  mask-position: top;
  -webkit-mask-position: top;

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}